#gallery {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
}

#gallery li img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}